@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300;1,700&family=Playfair+Display:ital,wght@0,600;0,900;1,400;1,600&family=Poppins:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --padding-container: 100px 0;
  --color-title: #ffffff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #ffffff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../img/fondoweb.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-weight: 300;
}

.nav__links {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  text-decoration: none;
  list-style: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}
.nav__close {
  display: var(--show, none);
}

.hero__container {
  min-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  gap: 1rem;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.hero__paragraph {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.cta {
  display: inline-block;
  background-color: #0b8a6a;
  justify-self: center;
  text-decoration: none;
  color: #ffffff;
  padding: 13px 20px;
  border-radius: 30px;
  font-size: 1rem;
}
